<div class="text-center">
    <div class="card" style="width: 25rem;">
        <div class="card-header">
            <h3 class="title">Sign Up</h3>
        </div>
        <div class="card-body">
            <div>
                <img src="/src/assets/img/unnamed.jpg" alt="">
            </div>
            <div>
                <label>First Name</label>
            </div>
            <div>
                <label>Last Name</label>
            </div>
            <div>
                <label>Email Name</label>
            </div>
        </div>

    </div>
</div>